/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* Variables */
/* Mixins */
.flex-box-row {
  display: flex;
  flex-direction: row;
}
.flex-box-column {
  display: flex;
  flex-direction: column;
}
.flex-box-centered {
  justify-content: center;
  align-items: center;
}
.curved-border {
  border-radius: 0.5rem;
}
/* General Styles */
/* 10px if the browser was set to 16px */
/* 1rem = 10px at “medium” browser settings */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  margin: 2rem;
}
/* Header */
.body-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* Navigation Bar */
}
.body-header #nav-bar {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.body-header #nav-bar a {
  font-size: 2.4rem;
  color: black;
  text-decoration: none;
  margin: 1.5rem 0;
  padding: 0.5rem 1.5rem;
}
.body-header #nav-bar a:hover {
  font-size: 2.5rem;
  color: blue;
  border: 0.3rem solid #24ff1c;
  border-radius: 0.5rem;
  background-color: gray;
}
/* .section-top container */
.section-top {
  width: 80rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  /* Images */
}
.section-top .office-image {
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  width: 30rem;
  height: auto;
  margin: 2rem;
}
/* .section-middle container */
.section-middle {
  width: 80rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  /* Images */
}
.section-middle .office-image {
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  width: 30rem;
  height: auto;
  margin: 2rem;
}
/* .section-bottom container */
.section-bottom {
  width: 80rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  /* Images */
}
.section-bottom .office-image {
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  width: 30rem;
  height: auto;
  margin: 2rem;
}
/* footer */
#footer {
  width: 80rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  /* Images */
}
#footer .office-image {
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  width: 30rem;
  height: auto;
  margin: 2rem;
}
